{
    "openapi": "3.0.0",
    "info": {
      "title": "Fabian GPT Action MicrosoftGraph UserProfile API",
      "version": "1.0"
    },
    "servers": [
      {
        "url": "https://aka.ms/fabs/graph/v1"
      }
    ],
    "paths": {
      "/me": {
        "get": {
          "operationId": "getUserProfile",
          "summary": "Get current user profile",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UserProfile"
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": []
            }
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "UserProfile": {
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string"
            },
            "mail": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "OAuth2": {
          "type": "oauth2",
          "flows": {
            "authorizationCode": {
              "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
              "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
              "scopes": {
                "User.Read": "Read user profile"
              }
            }
          }
        }
      }
    }
  }